.connection-wrap{
    position: relatvie;
    margin-right: 5%;
    padding-top: 80px;
    text-align: center;
}

.pagination{
    margin-left: 50%;
}

.talk_button{
    margin-top: 30%;
    margin-left: 80%;
    width: 5%;
    border: 0cm;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 12px;
}

.write_button{
    margin-top: 3%;
    margin-left: 80%;
    width: 5%;
    border: 0cm;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 12px;
}

.title_input{
    width: 70%;
    margin-left: 15%;
}

.title{
    margin-left: 15%;
}

.content{
    margin-left: 15%;
}

.content_input{
    margin-left: 15%;
    width: 70%;
    height: 300px;
}

.talk_content{
    background-color: black;
}

.comment_content{
    margin-left: 15%;
    margin-right: 15%;
}

.content_button{
    margin-top: 3%;
    margin-left: 40%;
    width: 10%;
    border: 0cm;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 12px;
}