.connection-wrap{
    position: relatvie;
    padding-top: 80px;
    text-align: center;
}

.connection-wrap-content{
    position: relatvie;
    padding-top: 10%;
    text-align: left;
    padding-left: 10%;
    padding-bottom: 10%;
}

.learn_explain{
    width: 100%;
    padding: 2%;
    height: 150px;
    background-color: lightgray;
    display:inline-block;
}

.learn{
    width: 25%;
    height: 170px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 5px 5px lightgray;

}

.learn_name{
    float: center;
    text-align: center;
    padding-left: 5%;
    padding-top: 5%;
    width: 100%;
}

.explain{
    float: left;
    width: 100%;
    padding-top: 2%;
    padding-left: 5%;
    text-align: left;
}

img{
    width: 40%;
    float: center;
    text-align: center;
}

.learn_block{
    width: 100%;
    height: 100%;
}

.block{
    margin-top: 5%;
    width: 100%;
}

.block_name{
    margin-left: 5%;
    font-size: larger;
    margin-bottom: 3%;
    text-align: left;
}

.content{
    font-size: large;
}

.color{
    color: red;
    font-weight: bol;
}

.name{
    text-align: left;
    width: 80%;
    font-size: x-large;
    font-weight: bold;
    float: left;
}

.goProblem{
    width: 10%;
    margin-right: 10%;
    float: left;
    background-color: black;
    color: white;
    padding-top: 5px;
    border-radius: 12px;

    margin-left: 40%;
    border: 0cm;
    height: 40px;
}

.problem{
    width: 90%;
    margin-bottom: 5%;
    padding: 1%;
}

.problem_title{

    font-weight: bold;
}

.problem_button{
    margin-left: 40%;
    width: 15%;
    border: 0cm;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 12px;

}

.learn_{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.learn_button{
    margin-top: 5%;
    margin-left: 45%;
}

.error{
    color: red;
}
.learn_image_big{
    width: 70%;
}